{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Entry
{% endblock %}

{% block body %}
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
    <h1>New Entry</h1>
    <form action="{% url 'encyclopedia:newpage' %}" method="POST">
        {% csrf_token %}
        
            <label for="newtitle">Title</label><br>
      
            <input class="input" type="text" name="newtitle" placeholder="Insert title"><br><br>
        
            <label>Content</label><br>
        
            <textarea name="newcontent" placeholder="Write content..."></textarea><br><br> 
        
            <input type="submit" name="save" value="Save">
        
    </form>    
{% endblock %}